* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dce4e9;
    font-size: .9rem;
    font-family: sans-serif, serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

#registration-form {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    align-items: center;
    border: solid black;
    border-radius: 10px;
    padding: 2rem;
    background-color: white;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    align-items: center;
    border: none;
}

.input-container > * {
  display: flex;
  flex-direction: column;
}

input {
    display: block;
    font-size: 90%;
    font-family: inherit;
    padding: 0.4rem 0.5rem;
    margin-top: 0.3rem;
    border-radius: 5px;
    background-color: rgb(242, 242, 242);
}

/* This is our style for the invalid fields */
input.invalid {
  border-color: #900;
  background-color: #fdd;
}

input:focus.invalid {
  outline: none;
}

/* This is the style of our error messages */
.error {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: inherit;
    box-shadow: 5px 5px 5px rgb(178 178 178);
    font-family: inherit;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 0;
    gap: 0.5rem;
    margin-top: 1.5rem;
    font-weight: 300;
}

.github {
    height: 1.5rem;
    width:auto;
    fill: white
}

.github:hover {
    transform: rotate(720deg);
    transition: transform 1.5s;
    fill: white
}

p * {
    display: block;
}